<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zinnia</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/stylesCarrito.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
</head>
<body>
   <header>
       <div class="top-header">
            <h1>Logo</h1>
        </div>
        <nav>
            <ul type="none">
                <li><a href="">Ropa</a></li>
                <li><a href="">Calzado</a></li>
                <li><a href="">Accesorios</a></li>
                <li><a href="">Colecciones</a></li>
            </ul>
        </nav>
        <div class="input-search">
            <input type="text" placeholder="Buscar">
        </div>
        <div class="burger-menu">
            <button class="menu"><i class="fas fa-bars"></i></button>
        </div>
   </header>
<main>
    <section class="bodyBuycar">
        <article class="bodycar">
            <div class="titleBuyCar">
                <h1>Tu Carrito de compras</h1>
            </div>
           <form action="formBuyCar">
                <div class="title-bar">
                    <h3>Articulo</h3>
                    <h3>Descripción</h3>
                    <h3>Cantidad</h3>
                    <h3>Precio</h3>
                </div>
                <div class="container-article">
                    <div class="Details-clothes">
                        <div class="clothes">
                            <img src="/images/Falda1.jpg" alt="">
                            <div>
                                <h3>Cropped Jacket</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat animi placeat esse
                                        praesentium ex,Lorem ipsum dolor sit amet</p>
                            </div>
                        </div>
                        <div class="price">
                            <div class="increment-button">
                                <button type="button" id="increment-button">+</button>
                                <div>
                                <h5>1</h5>
                                </div>
                                <button type="button" id="decrement-button">-</button>
                            </div>
                            <div>
                            <p>$000.00</p>
                            </div> 
                        </div>
                    </div>
                    <div class="edit-buttons">
                        <button class="details">M &nbsp;<i class="fas fa-caret-down"></i></button>
                        <button class="delet">Eliminar</button>
                    </div>
                </div>
                <div class="container-article">
                    <div class="Details-clothes">
                        <div class="clothes">
                            <img src="/images/Falda1.jpg" alt="">
                            <div>
                                <h3>Cropped Jacket</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat animi placeat esse
                                        praesentium ex,Lorem ipsum dolor sit amet</p>
                            </div>
                        </div>
                        <div class="price">
                            <div class="increment-button">
                                <button type="button" id="increment-button" value="1">+</button>
                                <div>
                                <h5>1</h5>
                                </div>
                                <button type="button" id="decrement-button" value="1">-</button>
                            </div>
                            <p>$000.00</p>
                        </div>
                    </div>
                    <div class="edit-buttons">
                        <button class="details" type="button">M &nbsp;<i class="fas fa-caret-down"></i></button>
                        <button class="delet" type="button">Eliminar</button>
                    </div>
                </div>
                <div class="container-send">
                    <div class="send">
                      <h4>Envio a CP.00000</h4>
                        <div class="details-send">
                            <p>detalles del envio,detalles de envio,detalles de envio Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    <div class="edit">
                      <a href="#">Editar</a>
                    </div>
                    </div>
                    <div class="total-cost">
                        <div>
                            <h4>Costo de envio</h4>
                            <p>$000.00</p>
                        </div>
                        <div>
                            <h4>Total a pagar</h4>
                            <p>$000.00</p>
                        </div>
                        <div class="button">
                            <button type="submit">Realizar Compra</button>
                        </div>
                    </div>
                </div>
           </form>        
        </article>
    </section>
   </main>
   
   <footer>       
           <p>Copyright © 2021 Zinnia S.R.L.</p>  

   </footer>
</body>
</html>