<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zinnia</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/stylesLogin.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <div class="top-header">
            <img src=images\zinniacolor.png alt="Logo">
        </div>
        <nav>
            <ul type="none">
                <li><a href="">Ropa</a></li>
                <li><a href="">Calzado</a></li>
                <li><a href="">Accesorios</a></li>
                <li><a href="">Colecciones</a></li>
            </ul>
        </nav>
        <div class="input-search">
            <input type="text" placeholder="Buscar">
        </div>
        <div class="burger-menu">
            <button class="menu"><i class="fas fa-bars"></i></button>
        </div>
    </header>
    <main>
        <section>
            <div class="text-login">
                <h2>
                    Bienvenido de vuelta!
                </h2>
 
            </div>
            <article class="row">
                <form action="">                  
                  <div class="input-email">
                       <input type="email" placeholder="Email">
                  </div>
                  <div class="input-password">
                    <input type="password" placeholder="Contraseña">
                  </div>
                  <div class="button-login">
                      <button>Iniciar sesión</button>
                  </div>
                </form> 
                  <div class="text-forget">
                	<p> Olvidaste tu contraseña?
                  </div>
              	  <div class="button-register">
                    <button> Registrate </button>
            	  </div>
            </article>

        </section>
       </main>
    <footer> 
        <div class="top-footer">
             <img src=images\zinniablanco.png alt="Logo">
        </div>    
        <p>Copyright © 2021 Zinnia S.R.L.</p>  
    </footer>
</body>
</html>