<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/stylesRegister.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
</head>
<body>
   <header>
       <div class="top-header">
            <h1>Logo</h1>
        </div>
        <nav>
            <ul type="none">
                <li><a href="">Ropa</a></li>
                <li><a href="">Calzado</a></li>
                <li><a href="">Accesorios</a></li>
                <li><a href="">Colecciones</a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <button class="menu"><i class="fas fa-bars"></i></button>
        </div>
   </header>
   <main>
    <section>
        <div class="text">
            <h2>
                Registrarse, es gratis!
            </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. sapiente.</p>
        </div>
        <article class="row">
            <div class="title-form">
                <h1>Crea tu cuenta</h1>
            </div>
            <form action="">
             <div class="input-re">
                 <input type="text" placeholder="Nombre">
             </div>
               <div class="input-re">
                <input type="text" placeholder="Apellido">
              </div>
              <div class="input-re">
                <input type="text" placeholder="Email">
              </div>
              <div class="input-re">
                <input type="password" placeholder="Contraseña">
              </div>
              <div class="button-login">
                  <button>Crear cuenta</button>
              </div>
            </form>              
           
        </article>
    </section>
   </main>
   <footer>       
           <p>Copyright © 2021 Zinnia S.R.L.</p>  

   </footer>
</body>
</html>