
td.cost,th.cost,
td.imageProduct,th.imageProduct{
	display: none;
}
section{
	margin: 80px auto;
	margin-left: 20px;
	margin-right: 20px;
}
table{
	background-color: white;
	text-align: center;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 30px;
}
th, td{
	padding: 10px;
}
thead{
	background-color: rgb(158, 152, 133);
	border-bottom: solid 5px #0F362D;
	color: white;
}
tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: rgb(180, 175, 158);
	color: white;
}
.headboard{
	display: block;
	padding: 20px;
	width: 85vw;

}
.headboard h2{
	padding: 20px;

}

a.button{
	border: solid 1px #4F4737;
	border-radius: 5px;
	background-color: #4F4737;
	color: #ddd;
	text-decoration: none;
	font-size: 15px;
	padding: 5px;
}
.end-table{
	display: flex;
	justify-content: space-evenly;
}
.end-table .more{
	font-size: 20px;
	text-decoration: none;
	color: black;
}
@media (min-width: 361px){
	
	th.cost{
		display: block;
	}
	td.cost
	{
		display: table-cell;

	}
	.headboard{
		display: flex;
		flex-wrap: wrap;
		padding: 20px;
	}
	
}
@media (min-width: 761px){


table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

td.imageProduct,th.imageProduct{
	display: block;
}
th, td{
	
	padding: 20px;
}

.imageProduct img{
    width: 50px;
}
.headboard{
	display: flex;
	justify-content: space-between;
	padding: 20px;
	width: auto;
}


}
@media (min-width: 1200px){

section{
	margin: 100px auto;
	width: 850px;
}
}