*{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{ 
    /* font-family: 'Montserrat', sans-serif; */
    background-color: #fdf8f2 ;
}
/*danger mensaje and box  */
.text-danger{
    font-size: 17px;
    color: red;
}
.is-invalid{
    border-color: red;
}
/* end danger */
/*Inicio Header*/
header{
    background-color:#fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-top: 2vh;
}

header div img{
    width:18vw;
    height:28px;
}
/*nav desplegable*/
.menuresponsive{
    position: fixed;
    height: 100%;
    width: 200px ;
    background: #79756aa6;
    left: -200px;
    top: 140px;
    z-index: 19;
}
.userresponsive{
    position: fixed;
    width: 200px;
    text-align: center;
    background-color: #79756ae0;
    left: -200px;
    top: 60px;
    z-index: 20;   
}
.show-menu{
    left:0;
}
.style-navmenu{
    background: #9e988593 !important;
    width: 200px !important;
    color: #fdf8f2;
}
header nav{
    display: block;
}
ul, ol {
    list-style:none;
}
nav > li{
    float:left;
}
nav ul li a{
    background-color:#ffffff;
    padding: 10px 12px;
    text-decoration:none;
	display:block;
}
nav ul li a:hover{
   background-color: #9e9885;
   color: #fff;
   cursor: pointer;
   border-radius: 3px;
}
nav ul li ul {
    display:none;
    position: absolute;
    min-width: 140px;
}
nav ul li:hover >ul{
    display: block;
}
nav ul li ul li{
    position: relative;
    z-index: 10;
}
nav ul li ul li ul{
    right: -140px;
    top: 0px;
}

/*Fin nav desplegable*/
 div.input-search {
   height: 28px;
   border-radius: 5px;
   border: solid 1px #9e9885;
   display: flex;
   align-items: center;
   
}
 div.input-search input{
    background-color: transparent;
    margin: 0px;
    width: 49vw;
    height: 28px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 8px;
    color: #9e9885;
}
 div.input-search button{
    margin: 0px;
    height: 33px;
    width: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
 div.input-search i{
    font-size: 18px;
    color: #9e9885;
    cursor: pointer;
}
/*  */
header div.buttons-section{
    display: flex;
}
div.avatar-user img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: solid 1px #9e9885;
}

div.buttons-section nav{
    display: block;
}
div.buttons-section ul, ol {
    list-style:none;
}
div.buttons-section nav > li{
    float:left;
}
div.buttons-section nav ul li a{
    background-color:#ffffff;
    padding: 10px 12px;
    text-decoration:none;
	display:block;
}

div.buttons-section nav ul li a:hover{
   background-color: #9e9885;
   color: #fff;
   cursor: pointer;
   border-radius: 3px;

}
div.buttons-section nav ul li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}
div.buttons-section nav ul li:hover >ul{
    display: block;
}
div.buttons-section nav ul li ul li{
    position: relative;
    z-index: 10;
}
div.buttons-section nav ul li ul li ul{
    right: -140px;
    top: 0px;
}
/*  */

header div.burger-menu button{
    width: 11vw;
    height: 35px;
    background-color: #4F4737;
    color: white;
    border-radius: 10px;
   
}
/*  */

header div.buttons-section{
    width: 200px;
    display: grid;
}

header div.buttons-section button{
    border: solid 1px #9e9885;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    font-size: 14px; 
    margin-top: 5px; 
}
button.session{
    background-color: #fff;
    color: #4f4737;
}
button.session:hover, button.registration:hover{
    background-color: #9e9885;
    color: #fff;
    cursor: pointer;
}
button.registration{
    background-color: #4f4737;
    color: #fff;
}
/*Fin header*/
/* FOOTER */ 
footer{
    padding-top: 0;
    background-color:rgb(158, 152, 133);
    text-align: center;
}

footer div img{
    width:13%;
}

.footer-p{
    color: white;
    font-size: 10px;
    margin-top: 0;
    padding-bottom: 10px;
    font-weight: 300;
}
/* FIN FOOTER */ 
/*boton flotante*/
.btn-flotante {
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	color: #ffffff; /* Color del i */
	border-radius: 50%; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color: #4f4737; /* Color de fondo */
	padding: 30px 30px; /* Relleno del boton */
	position: fixed;
	bottom: 50px;
	right: 50px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}
.btn-flotante:hover {
	background-color: #9e9885; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}
@media only screen and (max-width: 600px) {
 	.btn-flotante {
		font-size: 16px;
		padding: 23px 23px;
		bottom: 60px;
		right: 20px;
        
	}
} 
/*Fin boton Flotante*/

@media (min-width: 361px){
     div.input-search {
        height: 35px;
     }
      div.input-search input{
         width: 47vw;
         height: 35px;
         font-size: 18px;
     }
    header div.burger-menu button{
        width: 9vw;
        height: 42px;
       
    }
    header div img{
        width:25vw;
        height:38px;
    }
}
@media (min-width: 769px){
    header{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
     div.input-search {
        height: 35px;
     }
     div.input-search input{
         width: 38vw;
         height: 35px;
         font-size: 18px;
     }
    header div.burger-menu button{
        width: 5vw;
        height: 42px;
       
    }
   
}
@media (min-width: 1200px){
    /* header nav{
        display: none;
    }
    ul, ol {
        list-style:none;
    }
    nav > li{
        float:left;
    }
    nav ul li a{
        background-color:#ffffff;
        padding: 10px 12px;
        text-decoration:none;
        display:block;
    }
    nav ul li a:hover{
       background-color: #9e9885;
       color: #fff;
       cursor: pointer;
       border-radius: 3px;
    }
    nav ul li ul {
        display:none;
        position: absolute;
        min-width: 140px;
    }
    nav ul li:hover >ul{
        display: block;
    }
    nav ul li ul li{
        position: relative;
        z-index: 10;
    }
    nav ul li ul li ul{
        right: -140px;
        top: 0px;
    } */
    /* header div.buttons-section{
        display: none;
    }
    div.avatar-user img{
        width: 40px;
        height: 40px;
        border-radius: 10px;
        border: solid 1px #9e9885;
    }
    div.buttons-section nav{
        display: none;
    }
    div.buttons-section ul, ol {
        list-style:none;
    }
    div.buttons-section nav > li{
        float:left;
    }
    div.buttons-section nav ul li a{
        background-color:#ffffff;
        padding: 10px 12px;
        text-decoration:none;
        display:block;
    }
    
    div.buttons-section nav ul li a:hover{
       background-color: #9e9885;
       color: #fff;
       cursor: pointer;
       border-radius: 3px;
    
    }
    div.buttons-section nav ul li ul {
        display:none;
        position: absolute;
        min-width: 140px;
    }
    div.buttons-section nav ul li:hover >ul{
        display: block;
    }
    div.buttons-section nav ul li ul li{
        position: relative;
        z-index: 10;
    } */
    header nav{
        display: inline;
        width: 30vw;
    }
    header nav ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #9e9885;
    }
    header nav ul li a{
        color: #4f4737;
    }
     div.input-search input{
        width: 20vw;
        height: 35px;
        font-size: 18px;
    }
    header div.burger-menu button{
        display: none;
        
    }
    header div img{
        margin-left: 5vw;
        width:8vw;
        height:7vh;
    }
/*boton de session de usuario*/
     div.buttons-section nav ul{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #9e9885;
    }
    div.buttons-section nav{
        display: inline;
        width: 35vw;
    }
    div.buttons-section nav ul li a{
        color: #4f4737;
    }
    /*  */
    /* Botones de inicio de sesion y registro */
    header div.buttons-section{
        margin-right: 2.5vw;
        width: 20vw;
        display: flex;
        justify-content: space-between;
    }
   
    header div.buttons-section button{
        border: solid 1px #9e9885;
        border-radius: 5px;
        width: 8vw;
        height: 25px;
        font-size: 14px;  
    }
    /* button.session{
        background-color: #fff;
        color: #4f4737;
    }
    button.session:hover, button.registration:hover{
        background-color: #9e9885;
        color: #fff;
        cursor: pointer;
    }
    button.registration{
        background-color: #4f4737;
        color: #fff;
    } */
}
