h1{
  font-size: 25px;  
}
h4{

}
body{
    background-color: #fdf8f2;
}
main{
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    padding: 0%; 
    
}
/*carrito de compras*/
section.bodyBuycar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
}

main section article.bodycar{
    background-color: #fdf8f2;    
    border: solid 2px rgb(139, 137, 137);
    border-radius: 10px;
    /*margin-bottom: 5vh;*/
}
article div.titleBuyCar{
    margin-top: 2vh;
    margin-bottom: 3vh;
    padding-left: 25px;
    
}
div.clothes{
    display: flex;
    margin: 5px;
}
div.clothes img{
 width: 25vw;
 height: 18vh;
}
div.clothes div{
    width: 65vw;
    text-align: justify;
    margin: 5px;
    padding: 20px;
}
/*formulario*/
form div.title-bar{
    display: none;
}
form.formBuyCar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*contenedor de articulo*/
form div.container-article{
   margin-bottom: 5vh;
  }
form div.container-article div.price{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 5px;
    padding-right: 15px;
  }
  div.price div.increment-button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: solid 2px rgb(139, 137, 137);
    border-radius: 5px;
    margin-right: 25px;
    
}
div.price div.increment-button button{
    width: 10vw;
    height: 3vh;
    border: none;
 }
 div.edit-buttons{
    padding-left: 15px;
    margin-bottom: 10px;
}
div.edit-buttons button{
   width: 15vw;
   height: 3vh;
}
/*contenedor de detalles de compra*/
form div.container-details{
    border: solid 1px rgb(139, 137, 137);
    margin-top: 15px;
}

form div.container-details .send{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   border-bottom: solid 1px rgb(139, 137, 137);
   font-size: 18px;
   height: 5vh;
}
div.details-send{
    display: none;
}
div.total-cost div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    font-size: 18px;
    height: 5vh;
}

div.total-cost div.button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 8vh;
}
div.total-cost div.button button{
    background-color: #4f4737;
    color: #fff;
    border-radius: 5px;
    width: 50vw;
    height: 5vh;
    font-size: 18px;
    font-weight: bold;
}

@media (min-width: 361px){
    div.details-send{
        display: none;
    }
    div.edit-buttons button.details{
        background-color: #9e9885;
        color: #fff;
        border: none;
        border-radius: 5px;
        
      }
      /*edicion de boton de elmininar*/
      div.edit-buttons button.delet{
          border:solid 0.5px rgb(161, 156, 156);
          color: rgb(161, 156, 156);
          background-color: #fdf8f2;
          border-radius: 5px;
        }
    /*edicion de precio*/
        div.price p{
            font-size: 18px;
        }
        div.price div.increment-button{
            margin-right: 8vw;
        }
        div.price div.increment-button div{
            width: 15vw;
            height: 2.7vh;
            border-radius: 5px;
            background-color: #9e9885;
            color: #fff;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        div.price div.increment-button{
            border: none;
        }
        div.price div.increment-button button{
            width: 8vw;
            height: 3vh;
            border: none;
            background-color: #fdf8f2;
            font-size: 18px;
         }
    
}
@media (min-width: 769px){
    main section article.bodycar{
        background-color: #fdf8f2;    
        border: none;
        border-radius: 0%;
    }
    article div.titleBuyCar{
        margin: 5px;
        padding-left: 15px;
        margin-bottom: 25px;
    }
    form div.title-bar{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 85vw;
        padding-left: 5vw;
        padding-right: 3vw;
    }
    /*contenedor de articulo*/
    form div.container-article{
        border-bottom: none;
        border-top: none;
        margin-top: 10px;
       }
     
    div.Details-clothes{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    div.clothes{
        width: 45vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    div.clothes img{
        width: 12vw;
        height: 18vh;
        margin: 10px;
        margin-left: 20px;
       }
    div.clothes div{
         width: 25vw;
         text-align: justify;
         margin: 10px;
         margin-left: 15px;
         display: flex;
         flex-wrap: wrap;
         align-items: center;
    }
    form div.container-article div.price{
        width: 32vw;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        padding-right: 35px;
    }
    div.price p{
        font-size: 18px;
    }
    div.price div.increment-button div{
        width: 3.5vw;
        height: 3vh;
        border-radius: 5px;
        background-color: #9e9885;
        color: #fff;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    div.price div.increment-button{
        border: none;
    }
    div.price div.increment-button button{
        width: 2.5vw;
        height: 3vh;
        border: none;
        background-color: #fdf8f2;
        font-size: 18px;
     }
     div.edit-buttons button.details{
      background-color: #9e9885;
      color: #fff;
      border: none;
      border-radius: 5px;
      
    }
    div.edit-buttons button.delet{
        border:solid 0.5px rgb(161, 156, 156);
        color: rgb(161, 156, 156);
        background-color: #fdf8f2;
        border-radius: 5px;
      }
     div.edit-buttons{
         margin-top: 0%;
       padding-left: 15vw;
     }
     div.edit-buttons button{
        width: 6.5vw;
        height: 3vh;
     }
     /* contenedor de detalles de carrito*/
     form div.container-details{
        border:none;
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    form div.container-details .send{
       display: block;
       border-bottom: none;
       padding: 10px;
       font-size: 20px;
       height: 20vh;
    }
    div.details-send{
        display: block;
        width: 25vw;
        font-size: 20px;
        text-align: justify;
    }
    div.edit{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    div.total-cost{
        padding-right: 25px;
        width: 32vw;
    }
    div.total-cost div{
       margin-top: 10px;
    }
    div.total-cost div.button{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        height: 10vh;
    }
    div.total-cost div.button button{
        border-radius: 5px;
        width: 18vw;
        height: 4vh;
        font-size: 18px;
        font-weight: bold;
        color: #fff;
    }
}
@media (min-width: 1150px){
    div.clothes img{
        width: 9vw;
        height: 20vh;
       }
    form div.title-bar{
        width: 80vw;
    } 
    div.clothes{
        width: 40vw;
    }  
    form div.container-details .send{
        font-size: 19px;
        height: 20vh;
     }
     div.details-send{
         font-size: 16px;
     }
    div.total-cost{
        width: 23vw;
    }
    div.total-cost div.button button{
        width: 15vw;
        height: 5vh;
        font-size: 15px;
    }
    
}