*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #fdf8f2;
}


/* ENCABEZADO */
header{
    background-color:#fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    padding-top: 15px;
}

header div img{
    width: 50px;
    margin-left: auto;
}

header nav{
    display: none;
}
header div.input-search {
   padding: 6px;
}
header div.input-search input{
    width: 60vw;
    height: 4vh;
    font-size: 10px;
}
header div.burger-menu button{
    width: 10vw;
    height: 6vh;
    background-color: #4F4737;
    color: white;
    border-radius: 10px;
    border-style: none;
}
/* FIN DE ENCABEZADO */


/* BANNER */
.banner{
    position: relative;
    text-align: center;
    color: #4f4737;
}

.text-banner{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    font-size: 30px;
    width: 80%;
}

.cta button{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    font-size: 10px;
    background-color: #4F4737;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    border-radius: 3px;
    padding: 5px 13px
}


.img-banner{
    background-image: url(https://images.squarespace-cdn.com/content/v1/5aba5ad231d4df528f07968b/1563222686405-PBMP866PY188PS4F6PVZ/5J2A7009site.jpg?format=2500w);
    width: 100%;
    opacity: 0.6;
}
/* FIN BANNER */



/* INICIO POPULARES */
.section-popular-ahora{
    background-color: #FDF8F2;
    width: 100%;
    border: #fdf8f2 3px solid;
}

.section-popular-ahora h2{
    font-weight: 500;
    text-align: center;
    margin: 15px;
    font-size: 20px;
}

 .section-img {
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 25px;
}

.text-popular {
    text-align: center;
    color: #4f4737;
    font-size: 15px;
}

.popular-h4{
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 600;
}

.popular-p{
    font-size: 13px;
    font-weight: 400;
    margin-top: 10px;
}
/* FIN POPULARES */



/* FRASE */
.frase{
    text-align: center;
    padding: 20px;
    font-weight: 400;
    color: white;
    background-color: rgb(158, 152, 133);
}

.frase p{
    font-size: 15px;
    margin: 15px;
}
/* FIN FRASE */



/* SUSCRIBETE */
.suscribe{
    font-weight: 400;
    font-size: 15px;
    background-color: #FDF8F2;
    padding: 15px;
    margin: 10px;

}


/* 
.button-suscribe button{
        position: absolute;
        top: 330.7%;
        left: 70%;
        font-weight: 400;
        background-color: #4F4737;
        border: none;
        color: white;
        text-decoration: none;
        font-size: 10px;
        border-radius: 3px;
        padding: 5px 13px;
    }
    */
/* FIN SUSCRIBETE */



/* FOOTER */ 
footer{
    padding-top: 0;
    background-color:rgb(158, 152, 133);
    text-align: center;
}

footer div img{
    width:13%;
}

.footer-p{
    color: white;
    font-size: 10px;
    margin-top: 0;
    padding-bottom: 10px;
    font-weight: 300;
}
/* FIN FOOTER */ 


/* MEDIA QUERIES */
@media (min-width: 361px){
}

@media (min-width: 768px){
    header{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    header nav{
        display: block;
    }
    header nav ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    header div.burger-menu button{
        width: 10vw;
        height: 6vh;
        background-color: #4F4737;
        color: white;
        border-radius: 10px;
        border-style: none;
        display: none;
    }
    .text-banner{
        font-size: 35px;
        width: 80%;
        font-weight: 400;
    }
    .cta button{
        font-size: 15px;
        padding: 10px 18px;
        top: 55%;
    }    
    .section-popular-ahora h2{
        font-size: 25px;
        padding-top: 10px;
    }
    .section-img{
        display: flex;
        flex-wrap: nowrap;
    }
    .section-popular-ahora h2{
        font-size: 30px;
    }
    .text-popular {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
    .popular-h4{
        font-size: 17px;
    }
    .popular-p{
        font-size: 15px;
    }

    .section-img{
        height: 200px;
        width: 200px;
    }
    .frase p{
        font-size: 20px;
        margin: 30px;
    }
    .suscribe p{
        font-size: 20px;
        margin: 30px;
    }
    footer div img{
        width: 17%;
    }
    .footer-p{
        font-size: 15px;
        margin-bottom: 0px;
        padding-bottom: 20px;
    }
}

@media (min-width: 1200px) {
    header{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    header nav{
        display: block;
    }
    header nav ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .top-header img{
        width: 100px;
        padding-left: 0;
    }

    .input-search{
        width: -30px;
    }
    .text-banner{
        font-size: 55px;
        width: 80%;
        font-weight: 400;
    }
    .cta button{
        font-size: 25px;
        padding: 15px 30px;
        top: 55%;
        border-radius: 10px;
    }    
    .section-img{
        display: flex;
        flex-wrap: nowrap;
    }
    .section-popular-ahora h2{
        font-size: 35px;
        margin-top: 30px;
    }
    .text-popular {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    }
    .popular-h4{
        font-size: 20px;
    }
    .popular-p{
        font-size: 19px;
    }

    .section-img{
        height: 250px;
        width: 250px;
    }
    .frase p{
        font-size: 27px;
        margin: 70px;
    }
    .suscribe p{
        font-size: 35px;
        margin: 70px;
    }
    footer div img{
        width: 17%;
    }
    .footer-p{
        font-size: 15px;
        margin-bottom: 0px;
        padding-bottom: 20px;
    }
}




