main{
    position: relative;
    background: #4f4737;
    overflow: hidden;
    color:#fdf8f2;
    display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0%;
}

main::before{
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;  
    padding-top: 25px;
    background-image: url('../images/registro-img.jpeg');
    background-repeat: round;
    background-size: 100% 100vh;
    background-position: 50% 0;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0%;
    opacity: 0.6;
    z-index: 1;
}
main section article.row{
    background-color: transparent;    
    margin: 20px;
    margin-bottom: 5vh;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 95vw;
    margin-top:10vh;
    margin-bottom: 8vh;
    border-radius: 10px;
    z-index: 2;
}
section:hover{
    -webkit-box-shadow: 2px 2px 5px #999;
    -moz-box-shadow: 2px 2px 5px #999;
    filter: shadow(color=#999999, direction=135, strength=2);
}
main section div.text{
    text-align: center;
}

.title-form{
    margin: 10px;
    font-size: 18px;
}
form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
form div.image-user{
    text-align: center;
    font-size: 22px;
}
form div.image-user input{
    width: 250px;
    height: 30px;
    color: white;
    background-color: transparent;
    border: none;
}
form div.image-user div.preview{
    background-image: url('../images/users/newUsers.png');
    background-repeat: round;
    background-size: 100% 100vh;
    margin-top: 20px;
    width: 180px;
    height: 180px;
    margin-left: 38px;
    border: solid 1px white;
    border-radius: 50px;
    background-color: #fdf8f2;
}
form div.image-user img{
    width: 180px;
    height: 180px;
    border-radius: 50px;
}
form div.input-re{
    margin: 10px;
    margin-bottom: 0px;
    margin-top: 15px;
}
form div.input-name{
    
    margin-bottom: 0px;
    margin-top: 15px;
}
form div.input-apellido{
    margin-bottom: 0px;
    margin-top: 15px;
}
form div.input-re h1{
  align-content: left;
}
input{
    font-size: 15px;
    padding-left: 5px;
    width: 80vw;
    height: 45px;
    border-radius: 5px;
    border: solid 1px rgb(139, 137, 137);
}
form div.button-login{
    margin: 10px;
    margin-bottom: 20px;
}
form div.button-login button{
    margin-top: 10px;
    width: 80vw;
    height: 45px;
    font-size: 22px;
    font-weight: bold;
    background-color: #4f4737;
    border: solid 1px #4f4737;
    color: #fdf8f2;
    border-radius: 10px;
}
form div.button-login button:hover{
    background-color: #9e9885;
    color: #fff;
    cursor: pointer;
}

@media (min-width: 361px){
    main section article.row{
        width: 92vw;
    }
   /*  main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0%;
    } */
    section div.text-register{
        font-size: 5vw;
    }
    form input{
        width: 83vw;
    }
    form div.button-login button{
        width: 70vw;
        height: 8vh;
    }
    
    
}
@media (min-width: 769px){
    main section article.row{
        width: 550px;
    }
    section div.text-register{
        font-size: 3vw;
    }
    section div.artic{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    article div.text-form{
        text-align: center;
    }
    form div.image-user input{
        width: 300px;
    }
    form div.to-name{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 35vw;
    }
    form div.input-name input{
        width: 16.5vw;
        height: 45px;
        font-size: 18px;
    }
    form div.input-apellido input{
        width: 16.5vw;
        height: 45px;
        font-size: 18px;
    }
    form div.input-re input{
        width: 35vw;
        height: 45px;
        font-size: 18px;
    }
    form div.button-login{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        padding-left: 10px;
    }
    form div.button-login button{
        width: 200px;
        height: 40px;
        font-size: 18px;
        /* border-radius: 5px; */
    }
    section{
        display: block;
    }
}
