main{
    width: 100%;
    height: 100%;
    margin: 0 auto;  
    padding-top: 10px;
    color: #fdf8f2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0%;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 80vw;
    margin-top:5vh;
    margin-bottom: 8vh;
}
section div.title{
    margin: 20px;
    color: #4F4738;
    font-size: 25px;
}
article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
article div.avatar, img{
    width: 225px;
    height: 250px;
    border-radius: 50px;
}
a{
    text-decoration: none;
}
article div.user-edit{
    width: auto;
    height: auto;
    padding: 10px;
    margin-top: 20px;
    border: solid 1px rgb(158, 152, 133);
    border-radius: 10px;
    background-color: rgb(158, 152, 133);
    color: #fdf8f2;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
article div.user-edit i{
    margin-left: 10px;
}
article div.user-edit:hover{
    color: #4F4738;
}

@media (min-width: 361px){
    section{
        width: 60vw;
    }
}
@media (min-width: 749px){
    section{
        width: 65vw;
    }
    article div.avatar{
        margin-right: 20px;
    }
    article div.user-edit{
        font-size: 18px;
     }
    
}
@media (min-width: 1200px){
    section{
        width: 50vw;
    }
    section div.title{
        margin-bottom: 30px;
    }
 
    
}