main{
    width: 100%;
    height:100%;
    margin: 0 auto;
    margin-top: 0px;
    padding: 0%; 
    background-image:url("../images/login-img.jpeg");
    background-repeat: round;
    background-size: 100% 100vh;
    color:#fdf8f2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0%;
}

main section article.row{
    background-color: transparent;    
    margin: 5px;
    margin-bottom: 5vh;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width:80vw;
    height: 80vh;
    margin-top:10vh;

}
main section div.text-login{
  	margin-top:10px;
    text-align: center;
    margin-bottom: 0px;
    font-size: 40px;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
form div.input-email{
    margin: 10px;
    margin-bottom: 0px;
    margin-top: 1px;
}

form div.input-password{
    margin: 5px;
    margin-bottom: 0px;
    margin-top: 10px;
}
form div.input-remember{
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
form div.input-remember input{
    width: 20px;
    height: 24px;
  }

div.text-forget{
 	font-size:15px;
  	color: white;
	float:left;
  	margin-left:20px;
 	margin-bottom:15px;
    text-align: center;
    margin-top: 8px;
    margin-right: 10px;
}

input{
    font-size: 24px;
    padding-left: 5px;
    width: 80vw;
    height: 40px;
    border-radius: 5px;
    border: solid 1px rgb(139, 137, 137);
}

form div.button-login{
    margin: 10px;
    margin-bottom: 20px;
}
form div.button-login button{
    margin-top: 10px;
    width: 80vw;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    background-color:#4f4737;
    border: solid 1px #4f4737;
    border-radius: 10px;
    color:white;
}
form div.button-login button:hover{
    background-color: #9e9885;
    color: #fff;
    cursor: pointer;
}
button font{
    color: white;
}

@media (min-width: 361px){
    main section article.row{
        width: 92vw;
    }
    main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0%;
    }
    section div.text-login p{
        font-size: 50px;
    }
    form div.input-email input{
        width: 83vw;
        height: 6vh;
    }
  
  	form div.input-password input{
    	width:83vw;
    	height: 6vh;
 	 }
      form div.input-remember input{
    	width: 20px;
        height: 24px;
 	 }
    form div.button-login button{
        width: 70vw;
        height: 65px;
    }
      
}
@media (min-width: 769px){
    main section article.row{
        width: 800px;
    }
    section div.text-login{
        font-size: 3vw;
    }
    section div.article{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    form div.input-email input{
        width: 700px;
        height: 6vh;
        font-size: 34px;
    }
     form div.input-password input{
        width: 700px;
        height: 6vh;
        font-size: 34px;
    }
    form div.input-remember input{
        width: 40px;
        height: 24px;
    }
    form div.button-login{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        padding-left: 10px;
    }
    form div.button-login button{
        width: 400px;
        height: 75px;
        font-size: 18px;
    }
}
@media (min-width: 1209px){
    section{
        width:30vw;
        height: 80vh;
        margin-top:10vh;
    
    }
    form div.input-email input{
        width: 32vw;
        height: 6vh;
        font-size: 20px;
    }
     form div.input-password input{
        width: 32vw;
        height: 6vh;
        font-size: 20px;
    }
    form div.input-remember input{
        width: 40px;
        height: 24px;
    }
    form div.button-login button{
        width: 16vw;
        height: 40px;
        font-size: 18px;
    }

}