<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title>Zinnia</title>
    <script src="https://kit.fontawesome.com/0537a6077e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/stylesHome.css">
</head>

<body>

    <!-- ENCABEZADO -->
    <%- include('./partials/header.ejs') %>
        <!-- FIN HEADER -->

        <!-- BANNER -->
        <section class="section-banner">
            <div class="banner">
                <img src="/images/img-banner.jpeg" class="img-banner" alt="Imagen Banner">
                <h2 class="text-banner">El Futuro es la Moda Sostenible</h2>
                
            </div>
        </section>

        <!-- FIN BANNER -->

        <!-- SECCION POPULARES -->
        <main>
            <section class="section-popular-ahora">
                <h2>POPULAR AHORA</h2>
                <div class="text-popular">
                    <div class=img-1>
                        <img src="/images/img-1.png" class="section-img" alt="Cropped Jacket">
                        <h4 class="popular-h4">Cropped Jacket</h4>
                        <p class="popular-p">$499 mxn <br> 4 colores</p>
                    </div>

                    <div class="img-1">
                        <img src="/images/img-2.png" class="section-img" alt="White Crop Top">
                        <h4 class="popular-h4">White Crop Top</h4>
                        <p class="popular-p">$229 mxn <br> 9 colores</p>
                    </div>

                    <div class="img-1">
                        <img src="/images/img-3.png" class="section-img" alt="B&W Houndstooth Tweed">
                        <h4 class="popular-h4">Black & White Tweed</h4>
                        <p class="popular-p">$295 mxn <br> 2 colores</p>
                    </div>

                    <div class="img-1">
                        <img src="/images/img-4.png" class="section-img" alt="Printed Shirt Dress">
                        <h4 class="popular-h4">Printed Shirt Dress</h4>
                        <p class="popular-p">$495 mxn <br> Unico color</p>
                    </div>
                </div>
            </section>
        </main>
        <!-- FIN DE SECCION POPULARES AHORA-->

        <!-- SECCION FRASE-->
        <section>
            <div class="frase">
                <p>En Zinnia promovemos la moda sostenible. Defendemos
                    la evolución integral del sector textil hacia una
                    industria ecológica, respetuosa y justa.</p>
            </div>
        </section>
        <!-- FIN SECCION FRASE-->

        <!-- SECCION SUSCRIBETE-->
        <section>
            <div class=suscribe>
                <p>Suscríbete y recibe 10% descuento</p>
                <div class="button-suscribe">
                    <button>Suscribirse</button>
                </div>
                <div class="button-contacto">
                    <button>Contacto</button>
                </div>
            </div>
        </section>
        <!-- FIN SECCION SUSCRIBETE-->

        <a href="/shopping_car" class="btn-flotante"><i class="fas fa-cart-plus"></i></a>
        <!-- FOOTER -->
        <%- include('./partials/footer.ejs') %>
            <!-- FIN DE FOOTER -->

</body>

</html>