<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zinnia</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/stylesLogin.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    
</head>
<body>
    <!--header-->
   <%- include('./partials/header.ejs') %>
    <main>
        <section>
          <div class="text-login">
            <h2>
                Bienvenido de vuelta!
            </h2>
          </div>
            <article class="row">
                <form id="form" action="/user/login" method="POST">                  
                  <div class="input-email">
                       <input type="email" name="email" id="email" placeholder="Email">
                       <% if (locals.errors && errors.email){ %>
                         <p class="text-danger" id="errors">
                           <%= errors.email.msg %>
                         </p>
                      <% } %>
                      <p class="text-danger" id="emailError"></p>
                  </div>
                  <div class="input-password">
                    <input type="password" name="password" id="password" placeholder="Contraseña">
                    <p class="text-danger" id="passwordError"></p>
                  </div>
                  <div class="input-remember">
                    <input type="checkbox" name="remember_user" id="remember_user">Recordar mi usuario
                  </div>
                  <div class="button-login">
                      <button id="buttonSubmit">Iniciar sesión</button>
                  </div>
                  
                </form> 
                <script src="/js/logInValidation.js"></script> 
            </article>

        </section>
       </main>
   <!--footer-->
   
   <%- include('./partials/footer.ejs') %>
</body>
</html>