<header>
    <div class="top-header">
      <a href="/"> <img src='/images/zinniacolor.png' alt="Logo"></a> 
    </div>
    <div id="menu">
    <nav>
        <ul type="nav">
            <li>
                <a id="ropa">Ropa</a>
                <ul>
                    <li><a href="/topscamisas/1/products">Tops | Camisas</a></li>
                    <li><a href="/pantalonesjeans/2/products">Pantalones | Jeans</a></li>
                    <li><a href="/vestidosfaldas/3/products">Vestidos | Faldas</a></li>
                    <li><a href="/abrigostrench/4/products">Abrigos | Trench</a></li>
                    <li><a href="/pijamas/5/products">Pijamas</a></li>
                </ul>
            </li>
            <li><a  id="accesorios" href="/accesorios/6/products">Accesorios</a></li>
            <li>
                <a id="coleccion">Colecciones</a>
                <ul>
                    <li><a href="/verano/7/products">Verano</a></li>
                    <li><a href="/primavera/8/products">Primavera</a></li>
                    <li><a href="/otono/9/products">Otoño</a></li>
                    <li><a href="/invierno/10/products">Invierno</a></li>
                </ul>
            </li>
            <li>
                <a id="oferta">Ofertas</a>
                <ul>
                    <li><a href="/mas_vendido/11/products">Lo más vendido</a></li>
                    <li><a href="/ofertas/12/products">Ofertas</a></li>
                   
                </ul>
            </li>
        </ul>
    </nav>
   </div>
    <div class="input-search">
        <form action="/product/search" method="POST">
            <input id="search" name="search" type="text" placeholder="Buscar producto">
            <button type="submit"><i class="fas fa-search-plus"></i></button>
        </form>
    </div>
    <div class="burger-menu" >
        <button class="menu" id="buttonMenu" ><i class="fas fa-bars"></i></button>
    </div>
   
    <div class="buttons-section">
        <% if(locals.isLogged) { %> 
        <nav >
            <ul type="nav"> 
                <div class="avatar-user">
                    <img src="/images/users/<%= locals.userLogged.avatar %>" alt=""> 
                </div> 
                <li>
                 <a id="userlogged"><i class="fas fa-chevron-down"></i> <%= locals.userLogged.name %> </a>
                <ul>
                    <% if(locals.userLogged.fkidrol==1){%>
                        <li><a href="/products">Lista de productos</a></li>
                        <li><a href="/formProduct">Agregar producto</a></li>
                    <%}%>
                    <li><a href="/user/userprofile">My Profile</a></li>
                    <li><a href="/logout/">Logout</a></li>
                    
                </ul>
            </li>
            </ul>
        </nav>
        <%} else {%>
        <button onclick="location.href='/user/login'" class="session">Iniciar sesión</button>
        <button onclick="location.href='/user/register'" class="registration"> Loguearme</button>
        <%}%>
    </div>
</header>
<script src="/js/burguer-button.js"></script>