<header>
    <div class="top-header">
        <img src=images\zinniacolor.png alt="Logo">
    </div>
    <nav>
        <ul type="nav">
            <li>
                <a>Ropa</a>
                <ul>
                    <li><a href="">Tops | Camisas</a></li>
                    <li><a href="">Pantalones | Jeans</a></li>
                    <li><a href="">Vestidos | Faldas</a></li>
                    <li><a href="">Abrigos | Trench</a></li>
                    <li><a href="">Pijamas</a></li>
                </ul>
            </li>
            <li><a href="">Accesorios</a></li>
            <li>
                <a>Colecciones</a>
                <ul>
                    <li><a href="">Verano</a></li>
                    <li><a href="">Primavera</a></li>
                    <li><a href="">Otoño</a></li>
                    <li><a href="">Invierno</a></li>
                </ul>
            </li>
            <li>
                <a>Ofertas</a>
                <ul>
                    <li><a href="">Lo más vendido</a></li>
                    <li><a href="">Ofertas</a></li>
                   
                </ul>
            </li>
        </ul>
    </nav>
    <div class="input-search">
        <input type="text" placeholder="Buscar producto">
        <i class="fas fa-search-plus"></i>
    </div>
    <div class="burger-menu">
        <button class="menu"><i class="fas fa-bars"></i></button>
    </div>
    <div class="buttons-section">
        <button class="session">Iniciar sesión</button>
        <button class="registration"> Registrarse</button>
    </div>
</header>