<header>
    <div class="top-header">
      <a href="/"> <img src=images\zinniacolor.png alt="Logo"></a> 
    </div>
    <nav>
        <ul type="nav">
            <li>
                <a href="">Ropa</a>
                <ul>
                    <li><a href="/tops|camisas">Tops | Camisas</a></li>
                    <li><a href="/pantalones|jeans">Pantalones | Jeans</a></li>
                    <li><a href="/vestidos|faldas">Vestidos | Faldas</a></li>
                    <li><a href="/abrigos|trench">Abrigos | Trench</a></li>
                    <li><a href="/pijamas">Pijamas</a></li>
                </ul>
            </li>
            <li><a href="/accesorios">Accesorios</a></li>
            <li>
                <a href="">Colecciones</a>
                <ul>
                    <li><a href="/verano">Verano</a></li>
                    <li><a href="/primavera">Primavera</a></li>
                    <li><a href="/otono">Otoño</a></li>
                    <li><a href="/invierno">Invierno</a></li>
                </ul>
            </li>
            <li>
                <a href="">Ofertas</a>
                <ul>
                    <li><a href="/mas_vendido">Lo más vendido</a></li>
                    <li><a href="/ofertas">Ofertas</a></li>
                   
                </ul>
            </li>
        </ul>
    </nav>
    <div class="input-search">
        <input type="text" placeholder="Buscar producto">
        <i class="fas fa-search-plus"></i>
    </div>
    <div class="burger-menu">
        <button class="menu"><i class="fas fa-bars"></i></button>
    </div>
    <div class="buttons-section">
        <button onclick="location.href='/login'" class="session">Iniciar sesión</button>
        <button onclick="location.href='/registro'" class="registration"> Registrarse</button>
    </div>
</header>