*{
    font-family: 'Montserrat', sans-serif;
}
#wrapper #content-wrapper{ 
    background-color: #fdf8f2 !important;
}
img.w-100{
    margin-top: 15px;
    height: 100px;
}
.category{
    text-align: center;
    padding: 50px; 
    width: 85vw;
 }
 .card{
     padding: 10px;
 }